# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace atom-text-editor:not(.mini)':
    'shift-enter': 'jumpy:toggle'

'atom-workspace atom-text-editor.jumpy-jump-mode':
    'backspace': 'jumpy:reset'
    'enter': 'jumpy:clear'
    'space': 'jumpy:clear'
    'escape': 'jumpy:clear'
    'shift-enter': 'jumpy:clear'
    'a': 'jumpy:a'
    'b': 'jumpy:b'
    'c': 'jumpy:c'
    'd': 'jumpy:d'
    'e': 'jumpy:e'
    'f': 'jumpy:f'
    'g': 'jumpy:g'
    'h': 'jumpy:h'
    'i': 'jumpy:i'
    'j': 'jumpy:j'
    'k': 'jumpy:k'
    'l': 'jumpy:l'
    'm': 'jumpy:m'
    'n': 'jumpy:n'
    'o': 'jumpy:o'
    'p': 'jumpy:p'
    'q': 'jumpy:q'
    'r': 'jumpy:r'
    's': 'jumpy:s'
    't': 'jumpy:t'
    'u': 'jumpy:u'
    'v': 'jumpy:v'
    'w': 'jumpy:w'
    'x': 'jumpy:x'
    'y': 'jumpy:y'
    'z': 'jumpy:z'
    'A': 'jumpy:A'
    'B': 'jumpy:B'
    'C': 'jumpy:C'
    'D': 'jumpy:D'
    'E': 'jumpy:E'
    'F': 'jumpy:F'
    'G': 'jumpy:G'
    'H': 'jumpy:H'
    'I': 'jumpy:I'
    'J': 'jumpy:J'
    'K': 'jumpy:K'
    'L': 'jumpy:L'
    'M': 'jumpy:M'
    'N': 'jumpy:N'
    'O': 'jumpy:O'
    'P': 'jumpy:P'
    'Q': 'jumpy:Q'
    'R': 'jumpy:R'
    'S': 'jumpy:S'
    'T': 'jumpy:T'
    'U': 'jumpy:U'
    'V': 'jumpy:V'
    'W': 'jumpy:W'
    'X': 'jumpy:X'
    'Y': 'jumpy:Y'
    'Z': 'jumpy:Z'
