// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.jumpy {
    &.label {
        display: inline;
        position: absolute;
        padding: .1em;
        background-color: white;
        color: black;
        font-size: 65%;
        margin-left: -3px;
        margin-top: -3px;
        box-shadow: 4px 8px 4px rgba(0, 0, 0, .6)
    }
}
