// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@-webkit-keyframes fadein {
    from {
        opacity: 0;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    to {
        opacity: 1;
        box-shadow: 4px 8px 4px rgba(0, 0, 0, .6);
    }
}

.jumpy {
    &.label {
        display: inline;
        position: absolute;
        padding: .1em;
        background-color: white;
        color: black;
        font-family: arial;
        font-size: 70%;
        margin-left: -3px;
        margin-top: -3px;
        box-shadow: 4px 8px 4px rgba(0, 0, 0, .6);
    }
    &.jump {
        -webkit-animation: fadein .25s alternate;
    }
}
