// Original code / inspiration: http://codepen.io/daless14/pen/ELFgj/
// Will be greatly modified of course...

.ripple,
.ripple:before,
.ripple:after {
    display: block;
    border-radius: 1px;
    width: 2px;
    height: 2px;
    -webkit-animation:rip .2s;
}
.ripple {
  position: absolute;
  z-index: -1;
}
.ripple:before,
.ripple:after {
  content: '';
  position: absolute;
}
.ripple:before {
    -webkit-animation-delay: .1s;
    top: 1px;
    left: 5px;
}
.ripple:after {
    -webkit-animation-delay: .1s;
    top: 5px;
    left: 0;
}
@-webkit-keyframes rip
{
    0% {
        box-shadow:0 0 0 0 transparent,
                   0 0 0 0 transparent,
                   0 0 0 0 transparent,
                   0 0 0 0 transparent;
      }
    5%  {
        box-shadow:0 0 0 0 red,
                   0 0 0 0 rgba(255,255,255,0.5),
                   0 0 0 0 red,
                   0 0 0 0 rgba(0,0,0,0.1);
    }
    100% {
        box-shadow:0 0 4px 30px red,
                   0 0 1px 31px transparent,
                   0 0 3px 32px red,
                   0 0 .5px 33px transparent;
    }
}
